<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>勤怠</title>

    <!-- 個別CSS -->
    <link rel="stylesheet" th:href="@{/css/kintai/list.css}"> 
    
    <!-- FullCalendar CSS -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css">	-->
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}">

    <!-- DataTables JS -->
    <script src="/webjars/datatables/js/jquery.dataTables.min.js" defer></script>

    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

    <!-- 勤怠JS -->
    <script th:src="@{/js/kintai/kintai.js}" defer></script>
	
	<script th:inline="javascript">	
		const 	sessionUserName = /*[[${sessionUserName}]]*/ 	'defaultUser';
		const 	sessionUserId = /*[[${sessionUserId}]]*/ 	'defaultUser';
		
			
		 </script>
</head>

<!-- 🔽 ログインユーザー名をdata属性に埋め込む -->
<body th:attr="data-username=${sessionUserName}">
<div layout:fragment="content">
    <div class="header border-bottom mb-4">
        <h1 class="h2">勤怠</h1>
    </div>
<!--	<p>現在のrole: <span th:text="${role}">未設定</span></p>-->
<!--	 申請フロー -->
<!--	<div id="applicationContainer" class="mt-4">-->
<!--	    <h2>申請フロー</h2>-->
	  
	
<!--	     一般ユーザー -->
<!--		<div th:if="${role == 'ROLE_GENERAL'}">-->
<!--		    <form th:action="@{/kintai/apply}" method="post">-->
<!--		        <button type="submit">申請</button>-->
<!--		    </form>-->
<!--		</div>-->
	
<!--	     管理者 -->
<!--		<div th:if="${role == 'ROLE_ADMIN'}">-->
<!--		    <form th:action="@{/kintai/approve}" method="post">-->
<!--		        <button type="submit">承認</button>-->
<!--		    </form>-->
<!--		    <form th:action="@{/kintai/reject}" method="post">-->
<!--		        <button type="submit">差戻</button>-->
<!--		    </form>-->
<!--		</div>-->
<!--	</div>-->
	
	<div id="kintai-table-container" class="mt-4"></div>

    <!-- カレンダー -->
    <div id="kintai-calendar" class="mb-4"></div>
</div>

<p>現在のrole: <span th:text="${role}">未設定</span></p>

</body>
</html>
